doctype html
html 
    head 
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Add new book record

        form.form-container(action="/update-cobj" method="POST")
            div.form-group
                label(for="book_name") Book Name:
                input(type="text" name="book_name" id="book_name" class="form-control" required)
            div.form-group
                label(for="author") Author:
                input(type="text" name="author" id="author" class="form-control" required)
            div.form-group
                label(for="price") Price:
                input(type="number" name="price" id="price" class="form-control" required)
            div.form-group
                button(type="submit" class="btn-submit") Submit

        a(href="/") Return to the homepage
